# Supermarket Analysis

#Importing Libraries and reading de Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
supermarket = pd.read_csv('supermarket_sales - Sheet1.csv')

Cleaning and Treating the Dataset

In [3]:
supermarket.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

In [4]:
supermarket.columns = supermarket.columns.str.lower()

In [5]:
supermarket['day'] = supermarket['date'].str.split('/', expand=True)[1]
supermarket['month'] = supermarket['date'].str.split('/', expand=True)[0]
supermarket['year'] = supermarket['date'].str.split('/', expand=True)[2]

In [6]:
supermarket['date'] = pd.to_datetime(supermarket['date'])

Afer a Quick cleaning, I've decided to increase the gross income from products rated above 9 to 7% of gross Margin

In [7]:
def day_time(x): 
    if '10' <= x <= '13:30': 
        return 'Morning'
    elif '13:31' <= x <= '17:00': 
        return 'Afternoon'
    else:
        return 'Evening'
    
supermarket['shift'] = supermarket['time'].apply(day_time)

In [8]:
for ind, row in supermarket.iterrows(): 
    if row['rating'] >= 8:
        supermarket.loc[ind, 'new_gross margin'] = 8
    else:
        supermarket.loc[ind, 'new_gross margin'] = row['gross margin percentage']

In [9]:
for ind, row in supermarket.iterrows(): 
    if row['rating'] >=8: 
        supermarket.loc[ind, 'new_unit_price'] = (row['total'] * 1.08) / row['quantity']
    else: 
        supermarket.loc[ind, 'new_unit_price'] = row['unit price']

In [10]:
for ind, row in supermarket.iterrows(): 
    if row['rating'] >= 8: 
        supermarket.loc[ind, 'new_total'] = row['new_unit_price'] * row['quantity']
    else: 
        supermarket.loc[ind, 'new_total'] = row['total']

In [11]:
for ind, row in supermarket.iterrows(): 
    if row['rating'] >= 8: 
        supermarket.loc[ind, 'new_gross_income'] = row['new_total'] * (row['new_gross margin'] / 100)
    else:
        supermarket.loc[ind, 'new_gross_income'] = row['gross income']

That's my final result, let's work on it on Power BI

In [12]:
supermarket.head()

,invoice id,branch,city,customer type,gender,product line,unit price,quantity,tax 5%,total,...,gross income,rating,day,month,year,shift,new_gross margin,new_unit_price,new_total,new_gross_income
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,...,26.1415,9.1,5,1,2019,Morning,8.000000,84.69846,592.88922,47.431138
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,...,3.8200,9.6,8,3,2019,Morning,8.000000,17.32752,86.63760,6.931008
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,...,16.2155,7.4,3,3,2019,Morning,4.761905,46.33000,340.52550,16.215500
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,...,23.2880,8.4,27,1,2019,Evening,8.000000,66.02148,528.17184,42.253747
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,...,30.2085,5.3,8,2,2019,Morning,4.761905,86.31000,634.37850,30.208500

In [13]:
supermarket.to_excel('supermarket_dataset_treated.xlsx')